@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(130deg, #f9bf19, #fc641b);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 5px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo{
    font-size: 10px;
}
footer {
    width: 100%;
}

footer .last {
    width: 100%;
    height: 50px;
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

footer .last > a {
    text-decoration: none;
    color:#fff;
}

@media (max-width: 576px) {
    .relogio{
        flex-direction: column;
        height: 750px;
        width: 220px;
    }
}